<div class="container">

  <div>
    <h2>Current Contacts</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Relationship</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of data | async">
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.number }}</td>
          <td>{{ contact.relationship }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <button type="submit" class="btn btn-default" (click)="displayForm()">Add New Contact</button>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" *ngIf="addNew" #contactForm="ngForm">
      <h3>Add New Contact</h3>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
               required
               [(ngModel)]="model.firstName" name="firstName"
               #firstName="ngModel" >
        <div [hidden]="firstName.valid || firstName.pristine"
             class="alert alert-danger">
          First Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="model.lastName" name="lastName"
               #lastName="ngModel" >
        <div [hidden]="lastName.valid || lastName.pristine"
             class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               required
               [(ngModel)]="model.email" name="email"
               #email="ngModel" >
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Email is required
        </div>
      </div>

      <div class="form-group">
        <label for="number">Phone Number</label>  
        <input type="text" class="form-control" id="number"
               required
               [(ngModel)]="model.number" name="number"
               #number="ngModel" >
        <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
          Phone Number is required
        </div>
      </div>

      <div class="form-group">
        <label for="relationship">Relationship to You</label>  
        <input type="text" class="form-control" id="relationship"
               required
               [(ngModel)]="model.relationship" name="relationship"
               #relationship="ngModel" >
        <div [hidden]="relationship.valid || relationship.pristine" class="alert alert-danger">
          Relationship is required
        </div>
      </div>

      <button type="submit" class="btn btn-default" [disabled]="!contactForm.form.valid">Submit</button>
      <button type="submit" class="btn btn-default" (click)="hideForm()">Cancel</button>
    </form>
  </div>
</div>
