<div class="container-fluid">
  <h2>Upcoming Deadlines</h2>
    <div class="grid grid-pad">
      <a *ngFor="let scholarship of scholarships | async" [routerLink]="['/details', scholarship.$key]" class="col-1-4">
        <div class="module">
          <h4>{{ scholarship.name }}</h4>
          <h5>{{ scholarship.date }}</h5>
        </div>
      </a>
    </div>
</div>

<div class="container-fluid">
<h2>All scholarships</h2>
</div>

<div class="row">
  <div *ngFor="let scholarship of allScholarships | async" [routerLink]="['/details', scholarship.$key]" class="col-md-2">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="">Application</h4>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
            culpa itaque odio similique suscipit</p> 
        <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
      </div>
    </div>
  </div>
</div>